<p id="notice"><%= notice %></p>

<div>
  <div class="information">
    <table class="key-value">  
      <tr>
        <th colspan="2">General</th>
      </tr>
      <tr>
        <td class="key">Name</td>
        <td class="value"><%= @file_item.name %></td>
      </tr>
      <tr>
        <td class="key">Tags</td>
        <td class="value"><%= @file_item.tag_list %></td>
      </tr>
    <% if @file_item.dynamic_attributes %>
      <tr>
        <th colspan="2">Additional</th>
      </tr>
      <% @file_item.dynamic_attributes.each do |key, value| %>
      <tr>
        <td class="key"><%= t key, :scope => 'saphira.dynamic_attributes' %></td>
        <td class="value"><%= value %></td>
      </tr>
      <% end %>
    <% end %>
    </table>
  </div>

  <% if @file_item.file_uid and @file_item.file.image? %>
  <div id="saphira-file-preview" class="file preview image">
    <%= image_tag @file_item.file.thumb('300x300').url %>
  </div>
  <% end %>
  
  <div style="clear: both;"></div>
</div>

<%= link_to 'Edit', edit_file_item_path(@file_item) %> |
<%= link_to 'Back', @file_item.parent || file_items_path %>
