<!DOCTYPE html>
<html>
<head>
  <title>Saphira</title>
  <%= stylesheet_link_tag    "saphira/application" %>
  <%= javascript_include_tag "saphira/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <ul class="menu">
    <li><%= link_to 'files', file_items_path %></li>
    <li><%= link_to 'image variants', image_variants_path %></li>
  </ul>

<%= yield %>

</body>
</html>
